@font-face{
    font-family: annapolis3d;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/annapolis3d.ttf);
}

@font-face{
    font-family: OptimusPrinceps;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/OptimusPrinceps.ttf);
}

@font-face{
    font-family: flamaespina2;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Flama_Espina_2.TTF);
}

.header-font {
    text-align: center;
    font-family: OptimusPrinceps;
    color: white; 
    font-size: 1000%;
}

h4.next_rel{
    font-family: flamaespina2;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 200%;
}

h5.event{
    font-family: flamaespina2;
    color: white;
    font-size: 200%
}

p{
    color: white;
}

h6{
    color: white
}
